In [4]:
import csv
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
from scipy import stats
import pandas as pd
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics

##load clean data
file_name = 'vehicles.csv'
cleaner = pd.read_csv('vehicles.csv')
cleaner = cleaner[["price", "year", "manufacturer", "model", "condition", "cylinders", "fuel", "odometer", "drive"]]

In [5]:
cleaner.head()

   price  year manufacturer model condition cylinders fuel  odometer drive
0   6000   NaN          NaN   NaN       NaN       NaN  NaN       NaN   NaN
1  11900   NaN          NaN   NaN       NaN       NaN  NaN       NaN   NaN
2  21000   NaN          NaN   NaN       NaN       NaN  NaN       NaN   NaN
3   1500   NaN          NaN   NaN       NaN       NaN  NaN       NaN   NaN
4   4900   NaN          NaN   NaN       NaN       NaN  NaN       NaN   NaN

In [6]:
cleaner.sample(40)

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,drive
127602,28988,2017.0,infiniti,qx50,NaN,6 cylinders,gas,31132.0,rwd
18362,0,2006.0,ford,f550,NaN,NaN,diesel,0.0,NaN
310589,4995,2006.0,honda,civic,NaN,NaN,gas,173558.0,NaN
406388,41999,2017.0,ram,1500,NaN,8 cylinders,gas,62834.0,4wd
187503,9900,2007.0,chevrolet,tahoe lt 4wd,excellent,NaN,gas,126000.0,4wd
190458,3795,2011.0,honda,civic,excellent,4 cylinders,gas,249800.0,fwd
318488,6995,2013.0,nissan,versa,NaN,NaN,gas,109531.0,NaN
184736,41990,2019.0,lincoln,continental reserve,good,6 cylinders,gas,9345.0,fwd
292549,23989,2018.0,gmc,terrain,NaN,4 cylinders,gas,24194.0,4wd
180179,5500,2004.0,ford,expedition eddie bauer,NaN,NaN,gas,143000.0,NaN
14495,7950,2009.0,toyota,matrix,excellent,4 cylinders,gas,124000.0,fwd
271022,4500,2008.0,mercedes-benz,c320 4matic,good,6 cylinders,gas,150000.0,4wd
121942,3800,2012.0,nissan,versa,NaN,NaN,gas,199000.0,NaN
89553,0,2012.0,chevrolet,colorado,excellent,NaN,gas,NaN,4wd
56079,10499,2006.0,ram,1500 slt,like new,6 cylinders,gas,131715.0,rwd
56343,10995,2013.0,mercedes-benz,c 250 sport,NaN,4 cylinders,gas,93695.0,rwd
247580,22288,2017.0,kia,sportage ex,NaN,NaN,gas,50898.0,NaN
237718,33590,2013.0,lexus,ls 460 sedan 4d,good,8 cylinders,gas,33570.0,rwd
115596,29590,2018.0,audi,a6 2.0t premium sedan 4d,good,NaN,other,36854.0,NaN
353604,0,2006.0,nissan,altima,NaN,4 cylinders,gas,177596.0,NaN
72731,6000,2003.0,infiniti,fx45,good,8 cylinders,gas,188000.0,4wd
346621,18990,2018.0,hyundai,sonata sel sedan 4d,good,NaN,gas,16789.0,fwd
250805,12900,2008.0,ford,super duty f-250 srw,excellent,8 cylinders,gas,141701.0,4wd
354875,15589,2013.0,ford,taurus,good,6 cylinders,gas,45097.0,4wd
383337,51995,2019.0,chevrolet,silverado 2500hd,excellent,8 cylinders,diesel,96500.0,4wd
417844,13500,2013.0,gmc,terrain slt-2,NaN,NaN,gas,95000.0,NaN
177811,3400,2009.0,nissan,altima,good,4 cylinders,gas,141422.0,fwd
84781,18900,2006.0,jeep,rubicon,excellent,6 cylinders,gas,87127.0,4wd
119666,11985,2016.0,chevrolet,malibu,NaN,NaN,gas,88000.0,NaN
245630,9800,2014.0,bmw,x1,NaN,NaN,gas,104300.0,NaN
402934,7490,2012.0,ford,edge,good,NaN,gas,138616.0,NaN
48528,38500,2018.0,chevrolet,silverado 1500 4wd,excellent,NaN,gas,70928.0,4wd
361947,28900,2015.0,jeep,wrangler unlimi,NaN,NaN,gas,68040.0,NaN
263398,24990,2013.0,rover,range evoque pure,good,NaN,gas,39663.0,4wd
242578,36990,2017.0,ford,f150 supercrew cab xlt,good,6 cylinders,other,15443.0,4wd
160371,11495,NaN,NaN,olet CRUZE,NaN,4 cylinders,gas,24917.0,fwd
33848,7000,1986.0,bmw,e30,fair,6 cylinders,gas,200000.0,rwd
175536,10500,1968.0,jeep,NaN,good,6 cylinders,diesel,40000.0,4wd
340747,18995,2010.0,ford,f250 super duty,excellent,8 cylinders,gas,124050.0,4wd
147392,29995,2009.0,chevrolet,silverado 2500,excellent,8 cylinders,diesel,52295.0,rwd

In [7]:
## Clean and fill

In [10]:
#print(list(cleaner))
cleaner = cleaner[(cleaner.price < 70000) & (cleaner.price >= 800)]
cleaner = cleaner[(cleaner.odometer < 130000)]
#print(cleaner.shape)
cleaner.loc[cleaner.year >= 2021, 'condition'] = cleaner.loc[cleaner.year >= 2021, 'condition'].fillna('new')
cleaner.loc[cleaner.year >= 2019, 'condition'] = cleaner.loc[cleaner.year >= 2019, 'condition'].fillna('like new')
#print(cleaner.condition.value_counts())


##odometer reading
excellent_odo_mean = cleaner[cleaner['condition'] == 'excellent']['odometer'].mean()
good_odo_mean = cleaner[cleaner['condition'] == 'good']['odometer'].mean()
like_new_odo_mean = cleaner[cleaner['condition'] == 'like new']['odometer'].mean()
salvage_odo_mean = cleaner[cleaner['condition'] == 'salvage']['odometer'].mean()
fair_odo_mean = cleaner[cleaner['condition'] == 'fair']['odometer'].mean()

cleaner.loc[cleaner['odometer'] <= like_new_odo_mean, 'condition'] = cleaner.loc[cleaner['odometer'] <= like_new_odo_mean, 'condition'].fillna('like new')
cleaner.loc[cleaner['odometer'] >= fair_odo_mean, 'condition'] = cleaner.loc[cleaner['odometer'] >= fair_odo_mean, 'condition'].fillna('fair')
cleaner.loc[((cleaner['odometer'] > like_new_odo_mean) &
       (cleaner['odometer'] <= excellent_odo_mean)), 'condition'] = cleaner.loc[((cleaner['odometer'] > like_new_odo_mean) &
       (cleaner['odometer'] <= excellent_odo_mean)), 'condition'].fillna('excellent')

cleaner.loc[((cleaner['odometer'] > excellent_odo_mean) &
       (cleaner['odometer'] <= good_odo_mean)), 'condition'] = cleaner.loc[((cleaner['odometer'] > excellent_odo_mean) &
       (cleaner['odometer'] <= good_odo_mean)), 'condition'].fillna('good')

cleaner.loc[((cleaner['odometer'] > good_odo_mean) &
       (cleaner['odometer'] <= fair_odo_mean)), 'condition'] = cleaner.loc[((cleaner['odometer'] > good_odo_mean) &
       (cleaner['odometer'] <= fair_odo_mean)), 'condition'].fillna('salvage')

cleaner['cylinders'] = cleaner['cylinders'].fillna(method='ffill')
cleaner['fuel'] = cleaner['fuel'].fillna(method='ffill')
cleaner['drive'] = cleaner['drive'].fillna(method='ffill')
cleaner['manufacturer'] = cleaner['manufacturer'].fillna(method='ffill')
cleaner['year'] = cleaner['year'].fillna(method='ffill')
cleaner['model'] = cleaner['model'].fillna(method='ffill')

In [12]:
cleaner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270823 entries, 27 to 426879
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         270823 non-null  int64
 1   year          270823 non-null  float64
 2   manufacturer  270823 non-null  object
 3   model         270823 non-null  object
 4   condition     270823 non-null  object
 5   cylinders     270823 non-null  object
 6   fuel          270823 non-null  object
 7   odometer      270823 non-null  float64
 8   drive         270819 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 20.7+ MB

In [13]:
cleaner['drive'].isna().sum()

4

In [14]:
cleaner['drive'][0:10]

27    NaN
28    NaN
29    NaN
30    NaN
31    rwd
32    4wd
33    4wd
34    4wd
35    4wd
36    rwd
Name: drive, dtype: object

In [21]:
cleaner['drive'][0:10].fillna(method='ffill')

27    NaN
28    NaN
29    NaN
30    NaN
31    rwd
32    4wd
33    4wd
34    4wd
35    4wd
36    rwd
Name: drive, dtype: object

In [23]:
missing_drive = cleaner['drive'].isna()

In [25]:
cleaner.loc[missing_drive, 'drive'] = 'fwd'

In [26]:
cleaner['drive'][0:10]

27    fwd
28    fwd
29    fwd
30    fwd
31    rwd
32    4wd
33    4wd
34    4wd
35    4wd
36    rwd
Name: drive, dtype: object

In [27]:
cleaner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270823 entries, 27 to 426879
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         270823 non-null  int64
 1   year          270823 non-null  float64
 2   manufacturer  270823 non-null  object
 3   model         270823 non-null  object
 4   condition     270823 non-null  object
 5   cylinders     270823 non-null  object
 6   fuel          270823 non-null  object
 7   odometer      270823 non-null  float64
 8   drive         270823 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 20.7+ MB

In [29]:
cleaner.to_csv('clean_data.csv', index = False)

In [31]:
cleaner.isnull().sum()

price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
drive           0
dtype: int64